@CHARSET "UTF-8";

#board {
	background: #090;
	border: 2px solid darkred;
	border-radius: 10px;
	margin: auto;
}

#board, #board th, #board td {
	border-spacing: 0px;
/* 	border-collapse: collapse; */
}

#board th, #board td {
	min-width: 32px;
	min-height: 32px;
	height: 32px;
	text-align: center;
	padding: 0;
	margin: 0;
}
#board .coin-t-l { border-top-left-radius: 5px;}
#board .coin-t-r { border-top-right-radius: 5px;}
#board .coin-b-l { border-bottom-left-radius: 5px;}
#board .coin-b-r { border-bottom-right-radius: 5px;}

#board th { 				background: lightgrey; 	border: 1px solid white;}
#board td {					background: #090;		border: 1px solid white;}
#board td.motTriple { 		background: red; 		border: 1px dashed white;}
#board td.motDouble { 		background: pink; 		border: 1px dashed white;}
#board td.lettreTriple { 	background: darkblue; 	border: 1px dashed white;}
#board td.lettreDouble {	background: lightblue; 	border: 1px dashed white;}
.caseCentre { }

.motTriple.highlightDrop, 
.motDouble.highlightDrop, 
.lettreTriple.highlightDrop, 
.lettreDouble.highlightDrop, 
.caseCentre.highlightDrop {
	background: cyan;
}