@CHARSET "UTF-8";

#board {
	background-color: #090;
	border: 2px solid darkred;
	border-radius: 10px;
	margin: auto;
}

#board, #board th, #board td {
	border-spacing: 0px;
/* 	border-collapse: collapse; */
}

#board th, #board td {
	border: 1px solid white;
	min-width: 32px;
	min-height: 32px;
	height: 32px;
	text-align: center;
	padding: 0;
	margin: 0;
}
#board .coin-t-l { border-top-left-radius: 5px;}
#board .coin-t-r { border-top-right-radius: 5px;}
#board .coin-b-l { border-bottom-left-radius: 5px;}
#board .coin-b-r { border-bottom-right-radius: 5px;}

#board th { background-color: grey; }
.motTriple { background-color: red; }
.motDouble { background-color: pink; }
.lettreTriple { background-color: darkblue;	}
.lettreDouble { background-color: lightblue;	}
.caseCentre { }

.motTriple.highlightDrop, 
.motDouble.highlightDrop, 
.lettreTriple.highlightDrop, 
.lettreDouble.highlightDrop, 
.caseCentre.highlightDrop {
	background-color: cyan;
}