@CHARSET "UTF-8";

body {
	margin-top: 5px;
}

#bagPlace, #carrierPlace, #resultsPlace, #boardPlace{
	border: 1px dashed grey;
	padding: 1em;
	padding-top: 0em;	
	margin-top: 1em;
}

#boardPlace {
	padding-top: 1em;	
}

#carrierPlace, #resultsPlace {
	margin-left: -1em;
	margin-right: 1em;
}
#bagPlace {
	margin-left: 1em;
}

#boardPlace{
 	margin-left : -2em;
}

#carrier, #bag {	
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

#carrier {
	background: #997722;
	height: 70px;
}
	
#bag {
	
	background-color: #008800;
	height: 500px;
}

#finderPlace {
	margin: auto;
}

.ico {
	width: 14px;
	height: 14px;
}

.letter {
	background: #FC6;

	width: 30px;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	font-size: 1.1rem;

	border: 1px solid black;
	border-radius: 5px;
	z-index:1000;
}

#bagPlace .letter, #carrierPlace .letter {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#searchButton{
	margin: auto;
	margin-top: 1em;
	width: 100%;
}

.clear {
	clear: both;
}

.highlightDrag {
	background-color: purple;
	color: white;
}
.highlightDrop, #carrier.highlightDrop, #letter.highlightDrop, #bag.highlightDrop {
/* 	border: 1px solid cyan; */
	background-color: cyan;
}


[draggable=true]{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: move;		
}

[draggable=false]{
	cursor: no-drop;		
}