@(game:Game)

@import helper._ 
@main("Scrabbler") {
    <section class="row-fluid">
		<div class="span4">
			<div id="bagPlace">
				<h3>Sac</h3>
				<div id="bag">
					@for(letter <- game.bag.letters) {
						<div class="letter" title="@letter.points point(s)">@letter</div>
					}
					<div id="endSac" class="clear">&nbsp;</div>
				</div>
			</div>
		</div>
		
		<div class="span3">
		
			<div id="carrierPlace">
				<h3>Mes lettres</h3>
				<div id="carrier"></div>
				<div id="finderPlace">
					<button id="searchButton" type="submit" class="btn btn-primary">
						<i class="icon-white icon-search"></i> Trouver les meilleures solutions
					</button><br />
					<a href="@routes.Application.dictionnary" title="Voir les mots du dictionnaire" target="_blank">Dictionnaire</a> 
					<a href="http://www.motsduscrabble.com/" class="pull-right" target="_blank">Source des mots trouvé</a>
				</div>
			</div>
			
			<div id="resultsPlace">
				<h3>Solutions</h3>
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th width="50%">Mot</th>
							<th>Lig.</th>
							<th>Col.</th>
							<th>Pts</th>
						</tr>
					</thead>	
					<tbody>
						<tr>
							<td>
								<a href="http://www.cnrtl.fr/definition/manger" target="_blank">
									<img class="ico" src="/assets/images/cnrtl.ico"/>
								</a>
								<a href="http://fr.wiktionary.org/wiki/manger" target="_blank">
									<img class="ico" src="/assets/images/wiki.ico"/>
								</a>
								<a href="http://www.le-dictionnaire.com/definition.php?mot=manger" target="_blank">
									<img class="ico" src="/assets/images/ledictionnaire.ico"/>
								</a>
							</td>
							<td>manger</td>
							<td>B</td>
							<td>7</td>
							<td>124</td>
						</tr>
						<tr>
							<td>
								<a href="http://www.cnrtl.fr/definition/yoyo" target="_blank">
									<img class="ico" src="/assets/images/cnrtl.ico"/>
								</a>
								<a href="http://fr.wiktionary.org/wiki/yoyo" target="_blank">
									<img class="ico" src="/assets/images/wiki.ico"/>
								</a>
								<a href="http://www.le-dictionnaire.com/definition.php?mot=yoyo" target="_blank">
									<img class="ico" src="/assets/images/ledictionnaire.ico"/>
								</a>
							</td>
							<td>yoyo</td>
							<td>G</td>
							<td>4</td>
							<td>32</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="span5">
			<div id="boardPlace">
				<table id="board" class="table-bordered">
					<tr>
						<th class="coin-t-l">&nbsp;</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th class="coin-t-r">&nbsp;</th>
					</tr>
					<tr>
						<th>A</th>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<th>A</th>
					</tr>
					<tr>
						<th>B</th>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<th>B</th>
					</tr>
					<tr>
						<th>C</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>C</th>
					</tr>
					<tr>
						<th>D</th>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<th>D</th>
					</tr>
					<tr>
						<th>E</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>E</th>
					</tr>
					<tr>
						<th>F</th>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<th>F</th>
					</tr>
					<tr>
						<th>G</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>G</th>
					</tr>
					<tr>
						<th>H</th>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="caseCentre motDouble" title="Mot double">
							<icon class="icon-asterisk"></icon>
						</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<th>H</th>
					</tr>
					<tr>
						<th>I</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>I</th>
					</tr>
					<tr>
						<th>J</th>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<th>J</th>
					</tr>
					<tr>
						<th>K</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>K</th>
					</tr>
					<tr>
						<th>L</th>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<th>L</th>
					</tr>
					<tr>
						<th>M</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>M</th>
					</tr>
					<tr>
						<th>N</th>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreTriple" title="Lettre triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motDouble" title="Mot double">&nbsp;</td>
						<td>&nbsp;</td>
						<th>N</th>
					</tr>
					<tr>
						<th>O</th>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="lettreDouble" title="Lettre double">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="motTriple" title="Mot triple">&nbsp;</td>
						<th>O</th>
					</tr>
					<tr>
						<th class="coin-b-l">&nbsp;</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th class="coin-b-r">&nbsp;</th>
					</tr>
				</table>
			</div>
		</div>
	</section>
}